@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

input:focus{
  border: 1px solid #ced4da !important;
  border-right: none !important; 
}

.quicks-links-button::after{
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 100%;
  height: 100%;
  background: #4f4f4f;
  opacity: 0.2 ;
  transition: all 0.3s ease;
  border-radius: 50%;
  z-index: -1;
  border: 1px solid inherit;
}
.quicks-links-button{
  z-index: 1;
  position: relative;
  background-color: ;
}