@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

input:focus{
  border: 1px solid #ced4da !important;
  border-right: none !important; 
}

.component-send-message{
  position: sticky;
  bottom: 0;
}

.textarea{
  outline: none;
  border: none;
}
.textarea:focus{
  border: 1px solid #4f4f4f;
  border-radius: 5px;
}

.btn-active{
  box-shadow: -15px 0px 0px #4F4F4F;
  cursor: pointer;
  margin-left: 0.7rem !important;
}
.btn-active:hover{
  cursor: pointer;
}